<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sber.multimediaauditory" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Multumedia APP</name>
    <description>App for managing a smart auditory</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <preference name="Scheme" value="http" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
			<!--
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			-->
        </edit-config>
		
        
    </platform>
</widget>
